node_modules
npm-debug.log
yarn-debug.log
yarn-error.log
.env
.env.*
*.log
logs/*
!logs/.gitkeep
tmp/*
!tmp/.gitkeep
.git
.gitignore
.github
.vscode
.idea
*.md
tests
__tests__
coverage
.DS_Store
dist
